<div class="container-fluid">
	<h1 class="my-4">
		Sobre o Grupo
	</h1>

	<div class="card shadow my-4">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="grupo">
							Grupo
						</label>
						<input class="form-control" type="text" id="grupo" value="Grupo 4" disabled />
					</div>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="integrantes">
							Integrantes
						</label>
						<input class="form-control" type="text" id="integrantes" value="Gabriel Peixoto, João Vitor e Gabriel Zaude" disabled />
					</div>
				</div>
			</div>	
		</div>
</div>
